<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- Log to file -->
		<target name="file" xsi:type="File" fileName="logs/logfile.txt" layout="${longdate} ${level} ${message} ${exception}" />
	</targets>

	<rules>
		<!-- Log all info level and higher logs to file -->
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
</nlog>
